.text_header2.active{
	transform: translateX(0);
	opacity: 1;
}

.text_header3.active{
	transform: translateX(0);
	opacity: 1;
}

.text_header4.active{
	transform: translateX(0);
	opacity: 1;
}

.bt1.active{
    background-color: lightgreen;
}